svg {
  transform: rotate(-90deg);
}

.circle-bg {
  fill: none;
  stroke: #444;
  stroke-width: 10;
}

.circle {
  fill: none;
  stroke: #ff9800;
  stroke-width: 10;
  stroke-dasharray: 565.48;
  stroke-dashoffset: 565.48;
  transition: stroke-dashoffset 0.1s linear;
}

#dot {
  transform-origin: 100px 100px;
  transition: transform 0.1s linear;
  filter: drop-shadow(0 0 5px #ff9800);
}